.navbar {
    height: 100px;
    transition: all 0.4s;
}

.bar-white {
    color: #fff;
}

.navbar-solid {
    background: #000;
    opacity: 0.9;
    box-shadow: 1px 1px 12px 5px #111;
}

.navbar .nav-link {
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #2eabff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {

    .navbar {
        background: #111;
    }

    .navbar-nav {
        background: #ffffff;
    }

    .nav-item {
        padding-left: 10px;
        font-weight: 200;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background: #fff;
    }

    .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0px;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #000;
        font-weight: 200;
    }

}
 
 
