<section id="testimony" class="section">
    <div class="container">
      <carousel>
        <slide>
          <div class="testimony">
            <span><i>"Some of the best service ever received! Not only was it quick and cheap, but they solved all my Electrical needs..."</i></span>
          </div>
        </slide>
        <slide>
          <div class="testimony">
            <span><i>"Did a fantastic job in ensuring my business operates normal and effeciently!"</i></span>
          </div>
        </slide>
        <slide>
          <div class="testimony">
            <span><i>"Manage to solve all my solar needs!"</i></span>
          </div>
        </slide>
      </carousel>
    </div>
  </section>