<section id="section-services" class="section pad-bot30 bg-white">
  <div class="container">
    <h2>Services We Offer</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-info"><span class="global-radius icon_wrap">Info <i class="fa fa-info-circle fa-1x"></i></span>
              </div>
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-bolt fa-3x"></i></span>
              </div>
              <p>Renewable Energy & Solar</p>
            </div>
            <div class="back item"> 
              <div class="back-title"><span>Renewable Energy & Solar</span></div>
              <div class="service-items">
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Solar Panels</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Solar Geysers</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Batteries</span>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-info"><span class="global-radius icon_wrap">Info <i class="fa fa-info-circle fa-1x"></i></span>
              </div>
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-building fa-3x"></i></span>
              </div>
              <p>Commercial & Resedential Electrical Installations</p>
            </div>
            <div class="back item"> 
              <div class="back-title"><span>Commercial & Resedential Electrical Installations</span></div>
              <div class="service-items">
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Distribution Boards</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Backup Generators</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Fault Finding</span>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-info"><span class="global-radius icon_wrap">Info <i class="fa fa-info-circle fa-1x"></i></span>
              </div>
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-tint fa-3x"></i></span>
              </div>
              <p>All pump supply & installation</p>
            </div>
            <div class="back item"> 
              <div class="back-title"><span>All pump supply & installation</span></div>
              <div class="service-items">
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Borehole Pumps</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Swimming Pool Pumps</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Heat Pumps</span>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-info"><span class="global-radius icon_wrap">Info <i class="fa fa-info-circle fa-1x"></i></span>
              </div>
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-tachometer fa-3x"></i></span>
              </div>
              <p>Control Circuits Design & Implementation</p>
            </div>
            <div class="back item"> 
              <div class="back-title"><span>Control Circuits Design & Implementation</span></div>
              <div class="service-items">
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Control Circuit Design</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Facility Control Circuits</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Motor Control Circuits</span>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-info"><span class="global-radius icon_wrap">Info <i class="fa fa-info-circle fa-1x"></i></span>
              </div>
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-wrench fa-3x"></i></span>
              </div>
              <p>Electrical Maintenance</p>
            </div>
            <div class="back item"> 
              <div class="back-title"><span>Electrical Maintenance</span></div>
              <div class="service-items">
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Fault Finding</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> General Maintenance</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Rewiring and Installations</span>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-info"><span class="global-radius icon_wrap">Info <i class="fa fa-info-circle fa-1x"></i></span>
              </div>
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-check fa-3x"></i></span>
              </div>
              <p>General Supplies</p>
            </div>
            <div class="back item"> 
              <div class="back-title"><span>General Supplies</span></div>
              <div class="service-items">
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Solar Geysers</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Batteries</span>
                </div>
                <div>
                  <span class="global-radius icon_wrap"><i class="fa fa-check fa-1x"></i> Distribution Boards</span>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>