<section id="section-services" class="section pad-bot30 bg-white">
  <div class="container">
    <h2>Services We Offer</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-bolt fa-3x"></i></span>
              </div>
              <p>All solar supply and installation</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-building fa-3x"></i></span>
              </div>
              <p>All factory supply and installation</p>
            </div>
            <div class="back item">
              <p>All factory supply and installation.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-battery-half fa-3x"></i></span>
              </div>
              <p>3 Phase Installations</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-cog fa-3x"></i></span>
              </div>
              <p>Motor controls</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-tachometer fa-3x"></i></span>
              </div>
              <p>Speed controls</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-wrench fa-3x"></i></span>
              </div>
              <p>All electrical installations</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-question fa-3x"></i></span>
              </div>
              <p>Fault finding</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-fire fa-3x"></i></span>
              </div>
              <p>Heat pump supply and installation</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-tint fa-3x"></i></span>
              </div>
              <p>Swimming pool pump supply and installation</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-bath fa-3x"></i></span>
              </div>
              <p>Borehole pump supply and installation</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-plug fa-3x"></i></span>
              </div>
              <p>General house wiring</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="col-lg-4">
        <div class="servicecontainer">
          <div class="serviceitem">
            <div class="item">
              <div class="icon-holder"><span class="global-radius icon_wrap"><i class="fa fa-check fa-3x"></i></span>
              </div>
              <p>Air conditioner installation and service</p>
            </div>
            <div class="back item">
              <p>We do solar supply, installation and maintenance.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>