.card-holder {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #444;
    min-height: 220px;
}

.card-holder p {
    padding-top: 20px;
    color: #555;
}

#section-services {
  padding-top: 30px;
}

#section-services h2 {
  padding-bottom: 20px;
}

.icon-holder {
    width: 80px;
    margin: auto;
    margin-top: 20px;
    height: 80px;
    padding: 15px;
    background: rgb(8, 163, 224);
    box-shadow: 1px 1px 12px 3px #aaa;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.icon-info {
  color: #aaa;
  font-weight: 300;
  float: right;
  padding-right: 10px;
}

.icon-holder:hover {
    background: #fff;
    color: rgb(8, 163, 224);
    cursor: pointer;
}

.service-items {
  text-align: left;
  margin: 15px 15px;
}

.service-items div {
  padding: 5px;
}

.servicecontainer {
    width: 100%;
    color: #444;
    height: 220px;
    margin: 10px;
    z-index: 1;
    display: inline-block;
    text-align: center;
    perspective: 1000;
  }
  
  .serviceitem {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.4s linear;
  }
  
  .servicecontainer:hover .serviceitem {
    transform: rotateY(180deg);
    -ms-transform: none !important;
    cursor: pointer;
  }
  
  .item {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    color: #212529;
  }

.item p {
    padding-top: 20px;
    color: #555;
}

.back-title {
  font-size: 20px;
  font-weight: 200;
}
  
  .item.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #555;
    text-align: center;
    box-shadow: 1px 1px 12px #aaa;
  }
  
  @media screen and (max-width: 990px) {
    .servicecontainer {
     width: 100%;
     height: 220px;
     margin: unset;
     margin-top: 5px;
    }
    .item.back {
    transform: rotateY(180deg);
    }
  }