<div class="social-media">
  <div class="social-icon" (click)="goToFacebook()">
    <span class="global-radius icon_wrap"><i class="fa fa-facebook fa-2x"></i></span>
  </div>
  <div class="social-icon">
    <span class="global-radius icon_wrap"><i class="fa fa-linkedin fa-2x"></i></span>
  </div>
</div>

<section id="intro">
    <div class="intro-content">
      <h2>Welcome to Volt Drop Electrical</h2>
      <h3>Your specialist in Renewable Energy, Solar Power and High Availibility Sites</h3>
      <div class="contact-button">
        <a routerLink="home" fragment="section-contact" routerLinkActive="active-link" class="btn btn-primary intouch-button">Get In Touch</a>
      </div>
    </div>
</section>

<section class="section bg-white">
  <div class="container">
    <div class="row about-us">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>
          We can cover all your renewable energy and solar needs, whether it's for your home or your business.
        </p>
        <p>
          We actually love doing solar and leaving a good carbon footprint while we're at it!
        </p>
        <p>
          We focus on all electrical supplies, installations and maintenance. We are the most competitive
          solar supplier and installer in South-Africa. We specialize in renewable energy and ensure that
          your home or business can operate normally.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/solar.jpg">
      </div>
    </div>
    <div id="" class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</section>

<section id="counter" class="section">
  <div class="container">
    <div class="row appear stats">
      <div class="col-md-3">
        <div class="">
          <div class="icon">
            <i class="fa fa-file fa-4x"></i>
          </div>
          <strong class="counter-text">{{firstCounter}}</strong><br>
          <span class="text">Project's Completed</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <div class="icon">
            <i class="fa fa-bolt fa-4x"></i>
          </div>
          <strong class="counter-text">{{secondCounter}}</strong><br>
          <span class="text">KW Installed</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <div class="icon">
            <i class="fa fa-clock-o fa-4x"></i>
          </div>
          <strong class="counter-text">{{thirdCounter}}</strong><br>
          <span class="text">Hard Minutes</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <div class="icon">
            <i class="fa fa-heart fa-4x"></i>
          </div>
          <strong class="counter-text">{{fourtCounter}}</strong><br>
          <span class="text">Satisfied Clients</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-services></app-services>

<section class="section">
  <div class="container">
    <hr>
    <div id="section-gallery" class="row">
      <div class="col-md-12">
        <h2>Gallery</h2>
      </div>
    </div>
    <hr>
    <div class="row images">
      <div class="col-md-6">
        <img src="../../assets/images/solar_resedential.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/solar_resedential_2.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/roof.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/board.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/house.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/board_2.jpg">
      </div>
    </div>
  </div>
</section>

<app-testimony></app-testimony>

  <section class="section">
    <div class="container">
      <div class="row">
          <div class="col-md-12 center">
            <div class="">
              <div class="contact-header">
                <h2>Need Assistance?</h2>
                <p>Get a quote - quick and easy!</p>
              </div>
            </div>
          </div>    
      </div>
      <div id="section-contact" class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Your Name</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
          </div>
          <div class="form-group">
              <label>Your Email Address</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
          </div>
          <div class="form-group">
            <label>Your Subject</label>
            <input type="text" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
            <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                <div *ngIf="f.subject.errors.required">Subject is required</div>
            </div>
        </div>
          <div class="form-group">
              <label>Your Message</label>
              <textarea formControlName="message" class="form-control" cols="40" rows="10" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
              <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                  <div *ngIf="f.message.errors.required">Message is required</div>
              </div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary">Send Message</button>
          </div>
      </form>
      </div>  
    </div>
    </section>